.lab08-body {
  background-image: linear-gradient(rgba(15, 15, 15, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/lab08.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
  margin-bottom: 4rem;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}

.lab08-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
  letter-spacing: -0.5px;
}

#typed {
  font-size: 1.4rem;
  max-width: 60rem;
  line-height: 2rem;
  letter-spacing: 0.8px;
}

.typed-container {
  margin: 1.5rem 4rem;
  padding: 0 4rem;
  text-align: center;
}
